<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webtoon tracker</title>
</head>
<body>
    <h1>track your webtoons</h1>

    <h2>add a webtoon</h2>

    <form action="/addWebtoon" method="POST">
        <input type="text" name="name" placeholder="webtoon name" id="">
        <input type="text" name="currentChapter" placeholder="current chapter" id="">
        <input type="text" name="totalChapters" placeholder="total chapters" id="">
        <input type="text" name="source" placeholder="source" id="">
    </form>
</body>
</html>