<!DOCTYPE html>
<html lang="en" data-theme="lofi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webtoon tracker</title>

    <link href="css/output.css" rel="stylesheet">

</head>
<body>
  <p>You don't have to worry about managing and updating a huge collection</p>
  <h1 class="text-3xl font-bold">Focus on reading what you enjoy</h1>

    <a href="" class="text-blue-800">Sign Up</a>
    <a href="/webtoons" class="text-blue-800">Log In</a>
</body>
      <script src="js/index.js"></script>
</body> 
</html>