<!DOCTYPE html>
<html lang="en" data-theme="acid">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webtoon tracker</title>

    <link href="css/output.css" rel="stylesheet">

</head>
<body class="p-6">
  <!-- <div class="grid h-[75vh] place-items-center"> -->
    <div class="container mt-40">
      <h1 class="text-6xl black uppercase "> ♥ webtoon tracker</h1>
      <h2 class="text-3xl py-8">Always keep track of the series you're currently reading and where you're reading them</h2>
      <a href="/login" class="text-4xl uppercase text-decoration: underline block py-8 w-44">Login <i class="fa-solid fa-arrow-right-long"></i></a>
      <a href="/signup" class="text-4xl uppercase text-decoration: underline block py-8 w-50">Create account <i class="fa-solid fa-arrow-right-long"></i></a>
      <a href="/webtoons/guest" class="text-4xl uppercase text-decoration: underline block py-8 w-54">Guest login <i class="fa-solid fa-arrow-right-long"></i></a>
    </div>
    <!-- <div class="w-full max-w-xs">
      <form class="bg-white border border-zinc-800 rounded px-8 pt-6 pb-8 mb-4" action="/login" method="POST">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
            Username
          </label>
          <input class="shadow appearance-none border border-zinc-800 rounded w-full py-2 px-3 text-zinc-800 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username">
        </div>
        <div class="mb-6">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
            Password
          </label>
          <input class="shadow appearance-none border border-zinc-800 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="******************">
      <p class="text-red-500 text-xs italic">Please choose a password.</p> 
        </div>
        <div class="">
          <input class="btn btn-block text-white hover:bg-blue-900 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit" value="Sign In">
    
          </button>
         
        </div> -->
        <!-- <a class="inline-block align-baseline font-bold text-sm text-zinc-800 hover:text-blue-800" href="#">
          Forgot Password?
        </a> -->
      </form>
    </div>
    <!-- <a href="/login">Login</a>
    <a href="/signup">Signup</a> -->
  </div>
      <script src="https://kit.fontawesome.com/2978df9cca.js" crossorigin="anonymous"></script>
      <script src="js/index.js"></script>
</body> 
</html>