<!DOCTYPE html>
<html lang="en" data-theme="lofi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webtoon tracker</title>
    <link href="css/output.css" rel="stylesheet">
</head>
<body class="p-6">
    <section class="container mt-40">
      <h1 class="text-6xl black uppercase "> ♥ webtoon tracker</h1>
      <h2 class="text-3xl py-8">Always keep track of the series you're currently reading and where you're reading them.</h2>
      <a href="/login" class="link hover:text-red-500  text-4xl uppercase text-decoration: underline py-8 mr-20 inline-block">Login</a>
      <a href="/signup" class="link hover:text-red-500 text-4xl uppercase text-decoration: underline py-8 inline-block">Create account</a>
    </section>
      <script src="https://kit.fontawesome.com/2978df9cca.js" crossorigin="anonymous"></script>
      <script src="js/index.js"></script>
</body> 
</html>