<!DOCTYPE html>
<html lang="en" data-theme="acid">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/output.css" rel="stylesheet">
</head>
<body class="p-6"> 
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <a href="/" class="text-3xl black uppercase text-decoration: underline">Home</a>
       <div class="hero min-h-screen">
     
             <div class="card flex-shrink-0 w-full max-w-sm">
          <div class="card-body">
            <form action="/login" method="POST">
              <h2 class="text-3xl black uppercase py-8">Login</h2>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Email</span>
                </label>
                <input type="text" placeholder="email" name="email"class="input input-bordered" />
              </div>
              <div class="form-control">
                <label class="label">
                  <span class="label-text">Password</span>
                </label>
                <input type="password" placeholder="password" name="password" class="input input-bordered" />
                <label class="label">
                  <a href="#" class="label-text-alt link link-hover">Forgot password?</a>
                </label>
              </div>
              <div class="form-control mt-6">
                <button class="btn btn-primary">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <a href="/signup" class="uppercase text-decoration: underline block py-4">Create an account instead <i class="fa-solid fa-arrow-right-long"></i></a>
    
</body>
</html>